# TITLE #

Members:

Liam Woo
Daniel Shibary
Miranda Currie
Anya Jones

In [1]:
#Loading needed libraries
library(tidyverse)
library(dplyr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
#Reading in .csv files
options(repr.matrix.max.rows = 6)
read_csv('https://raw.githubusercontent.com/Yamasaur/DSCI-100-Group-Project-Final-Report-Group-10-/refs/heads/main/players.csv')
read_csv('https://raw.githubusercontent.com/Yamasaur/DSCI-100-Group-Project-Final-Report-Group-10-/refs/heads/main/sessions.csv')

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 57
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     hashedEmail
1    bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2    36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3    f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
⋮    ⋮
1533 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1534 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1535 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
     start_time       end_time         original_start_time original_end_time
1    30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2    17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3    25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
⋮    ⋮                ⋮                ⋮                   ⋮
1533 28/07/2024 15:36 28/07/2024 15:57 1.72218e+12         1.72218e+12
1534 25/07/2024 06:15 25/07/2024 06:22 1.72189e+12         1.72189e+12
1535 20/05/2024 02:26 20/05/2024 02:45 1.71617e+12         1.71617e+12

# Intro #

Description of each variable is listed in the following table.

|Variable:|Data type:|Possible Values:|Desciption:|
|:----|:----|:----|:----|
| experience | character (chr) | Beginner, Amateur, Regular, Veteran, Pro | The self-declared skill level of the player |
| subscribe | logical (lgl) | TRUE, FALSE | Whether or not the player is subscribed |
| hashedEmail | character (chr) | N/A | A unique sequence of numbers and letters providing a secure way to represent a players E-mail |
| played_hours | double (dbl) | N/A | The number of hours a player has put into the server |
| name | character (chr) | N/A | The name of the player |
| gender | character (chr) | Male, Female, Non-binary, Two-Spirited, Prefer not to say, Other, Agender | Gender of the player |
| Age | double (dbl) | N/A | Age of the player |

* **Number of observations?**
  
    196, determined as there are 196 rows in the dataset

* **Number of Variables?**

    7, determined as there are 7 columns

* **Summary Statistics:** (Code/calculations in the following cell)

<br>

Distribution of experience levels:

|Value:|Percentage:|Count:|
|:----|:----|:----|
| Beginner | 17.86% | (35 players) |
| Amateur | 32.14% | (63 players) |
| Regular | 18.37% | (36 players) |
| Veteran | 24.49% | (48 Players) |
| Pro | 7.14% | (14 players) |

<br>Distribution of subscribed and unsubscribed players:

|Status:|Percentage:|Count:|
|:----|:----|:----|
| Subscribed | 73.47% | (144 players) |
| Unsuscribed | 26.53% | (52 players) |

<br>Lowest, Median, Mean, and Highest Playtime (hours):

|Lowest:|Median:|Mean:|Highest:|
|:----|:----|:----|:----|
| 0 | 0.1 | 5.85 | 233.1 |

<br>Distribution of Gender

|Gender:|Percentage:|Count:|
|:----|:----|:----|
| Male | 63.27 | (124 players) |
| Female | 18.88% | (37 players) |
| Non-Binary | 7.65% | (15 players) |
| Two-Spirited | 3.06% | (6 players) |
| Other | 0.51% | (1 players) |
| Agender | 1.02% | (2 players) |
| Prefer not to say | 5.61% | (11 players) |

<br>Lowest, Median, Mean, and Highest age (years):

|Lowest:|Median:|Mean:|Highest:|
|:----|:----|:----|:----|
| 9 | 19 | 21.14 | 58 |

<br>

# Method and Results #

In [4]:
#Summary Statistics: (Please run the cell at the very top before proceeding! Also, to see the outputs uncomment the last line of each function i.e to see the value of num_Beginner,
#                     uncomment the line #num_Beginner at the end of its respective code.)

#--------------- Distribution of experience levels: ---------------#

#number of Beginner
num_Beginner <- players_csv |>
    filter(experience == 'Beginner') |>
    select(experience) |>
    nrow()
num_Beginner_perc <- round(((num_Beginner/196) * 100),2)
#num_Beginner
#num_Beginner_perc
    
#number of Amateur
num_Amateur <- players_csv |>
    filter(experience == 'Amateur') |>
    select(experience) |>
    nrow()
num_Amateur_perc <- round(((num_Amateur/196) * 100),2)
#num_Amateur
#num_Amateur_perc

#number of Regular
num_Regular <- players_csv |>
    filter(experience == 'Regular') |>
    select(experience) |>
    nrow()
num_Regular_perc <- round(((num_Regular/196) * 100),2)
#num_Regular
#num_Regular_perc

#number of Veteran
num_Veteran <- players_csv |>
    filter(experience == 'Veteran') |>
    select(experience) |>
    nrow()
num_Veteran_perc <- round(((num_Veteran/196) * 100),2)
#num_Veteran
#num_Veteran_perc

#number of Pro
num_Pro <- players_csv |>
    filter(experience == 'Pro') |>
    select(experience) |>
    nrow()
num_Pro_perc <- round(((num_Pro/196) * 100),2)
#num_Pro
#num_Pro_perc

#------- Distribution of suscribed and unsuscribed players: -------#

#number of suscribed
num_sub <- players_csv |>
    filter(subscribe == TRUE) |>
    select(subscribe) |>
    nrow()
num_sub_perc <- round(((num_sub/196) * 100),2)
#num_sub
#num_sub_perc

#number unsuscribed
num_unsub <- players_csv |>
    filter(subscribe == FALSE) |>
    select(subscribe) |>
    nrow()
num_unsub_perc <- round(((num_unsub/196) * 100),2)
#num_unsub
#num_sub_perc

#----------- Lowest, Median, Mean, and Highest Playtime: ----------#

#lowest playtime
low_pt <- players_csv |>
    select(played_hours) |>
    map_df(min, na.rm = TRUE) |>
    pull()
#low_pt

#median playtime
med_pt <- players_csv |>
select(played_hours) |>
    map_df(median, na.rm = TRUE) |>
    pull() |>
    round(2)
#med_pt

#mean playtime
mean_pt <- players_csv |>
    select(played_hours) |>
    map_df(mean, na.rm = TRUE) |>
    pull() |>
    round(2)
#mean_pt

#highest playtime
high_pt <- players_csv |>
    select(played_hours) |>
    map_df(max, na.rm = TRUE) |>
    pull()
#high_pt

#-------------------- Distribution of Gender: ---------------------#

#number of male
num_male <- players_csv |>
    filter(gender == 'Male') |>
    select(gender) |>
    nrow()
num_male_perc <- round(((num_male/196) * 100),2)
#num_male
#num_male_perc

#number of female
num_female <- players_csv |>
    filter(gender == 'Female') |>
    select(gender) |>
    nrow()
num_female_perc <- round(((num_female/196) * 100),2)
#num_female
#num_female_perc

#number of Non-binary
num_nb <- players_csv |>
    filter(gender == 'Non-binary') |>
    select(gender) |>
    nrow()
num_nb_perc <- round(((num_nb/196) * 100),2)
#num_nb
#num_nb_perc

#number of Two-Spirited
num_ts <- players_csv |>
    filter(gender == 'Two-Spirited') |>
    select(gender) |>
    nrow()
num_ts_perc <- round(((num_ts/196) * 100),2)
#num_ts
#num_ts_perc

#number of Other
num_oth <- players_csv |>
    filter(gender == 'Other') |>
    select(gender) |>
    nrow()
num_oth_perc <- round(((num_oth/196) * 100),2)
#num_oth
#num_oth_perc

#number of Agender
num_agn <- players_csv |>
    filter(gender == 'Agender') |>
    select(gender) |>
    nrow()
num_agn_perc <- round(((num_agn/196) * 100),2)
#num_agn
#num_agn_perc

#number prefer not to say
num_pns <- players_csv |>
    filter(gender == 'Prefer not to say') |>
    select(gender) |>
    nrow()
num_pns_perc <- round(((num_pns/196) * 100),2)
#num_pns
#num_pns_perc

#------------- Lowest, Median, Mean, and Highest Age: -------------#

#lowest age
low_age <- players_csv |>
    select(Age) |>
    map_df(min, na.rm = TRUE) |>
    pull()
#low_age

#median age
med_age <- players_csv |>
    select(Age) |>
    map_df(median, na.rm = TRUE) |>
    pull() |>
    round(2)
#med_age

#mean age
mean_age <- players_csv |>
    select(Age) |>
    map_df(mean, na.rm = TRUE) |>
    pull() |>
    round(2)
#mean_age

#highest age
high_age <- players_csv |>
    select(Age) |>
    map_df(max, na.rm = TRUE) |>
    pull()
#high_age

# Disscussion #

# references #